*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "inconsolata";
    }
img{
    display: block;
    width: 100%;
}
main{
    padding: 20px
}
.container-products{
    @include grilla;
    margin-bottom: 50px;
}
.hide{
    visibility: hidden;
}
.hide1{
    visibility: hidden;
}