footer{
    color: $clara;
    background: $negrav2;
    padding: 30px 20px;
    div{
        
        p{
            color: $gris;
            margin: 15px;

        }
        div{
            text-align: center;
            color: $naranja;
        }
        h3{
            color: $tomate;
            margin: 10px;
        }
    }
    }