.main-header{
    pad: 0 20px;
    color:  $oscura
}
.main-header__title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: $oscura;
    font-family: "poppins";
}
.hide{
    visibility: hidden;
}
.menu{
    position: absolute;
    top: 100px;
    left: 10%;
    background: $gris;
    width: 80%;
    list-style: none;
    padding: 0px;
    margin: 0;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.menu__item{
    padding: 5px;
    text-align: center;
    width: 150px;
    margin: auto;
}

.menu__link{
    color: $clara;
    text-decoration: none;
    position: relative;
    display: block;
}

.mostrar{
    opacity: 1;
    visibility: visible;
}

.main-header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.icon-menu{
    font-size: 1.5em;
    border: 3px solid $oscura;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: -26%;
}
.main-header__btn{
    display: block;
    padding: 5px;
    color:  $clara;
    text-decoration: none;
}
.main-header__input{
    display: block;
    padding: 5px;
    width: 50%px;
}
.search{
    margin-right: 15px;
}