
header{
        text-align: center;
        @include animation ($uno);
        grid-area: logo;
        align-items: center;
    h1{
        nav{
            grid-area: nav;
            .menu{
                padding: 30px;
                list-style: none;
                width: 90%;
                margin: 20px auto;
                text-align: center;
                @include animation ($tres);
                li{
                    display: inline-block;
                    text-align: center;
                    a{
                        text-decoration: none;
                        font-size: 200%;
                        display: inline;
                        padding: 20px;
                        color: $clara;
                        &:hover{
                            text-decoration: $clara;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

@keyframes aparecer {
    0%{
        opacity: 0; 
    }
    50%{
        opacity: 0.1;
    }
    65%{
        opacity: 0.2;
    }
    75%{
        opacity: 0.3;
    }
    80%{
        opacity: 0.4;
    }
    85%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}