.main-title{
    text-align: center;
    margin: 0 auto 10px;
    position: relative;
    font-size: 2em;
    line-height: 60px;
    color: $gris;
}
.main-title::after{
    content: "";
    background: $naranja;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.container-editor{
    margin-top: 50px;
}
.editor__item{
    height: 200px;
    position: relative;
    overflow: hidden;
}
.editor__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.editor__circle{
    width: 200px;
    height: 200px;
    border: 2px solid $clara;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -150px ;
    color: $clara;
    padding: 20px;
    padding-bottom: 70px;
    padding-right: 50px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    transition: all 0.5s;
}
.editor__item:hover .editor__circle{
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;
}
.editor__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $editor;
    opacity: 0;
    transition: all 0.5s;
}
.editor__item:hover::before{
    opacity: 1;
}
.container-tips{
    margin: 20px 0;
    text-align: center;
}  
.tip i{
    font-size: 2em;
}
.tip__btn{
    display: block;
    border: 1px solid $naranja;
    color:$negrav2;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 10px auto;
    transition: all 0.5s;
}
.tip__btn:hover{
    @include efectoboton;
}